<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="MEZ_ProductionConnectionString" connectionString="Data Source=comp265\sqlexpress;Initial Catalog=MEZ_Production;Persist Security Info=True;User ID=sa;Password=&quot;ghjldb;tybt&quot;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--Домен пользователя-->
    <add key="USER_DOMAIN" value="MEZ"/>
    <!--Логин локального пользователя-->
    <add key="USER_LOGIN" value="mez_MiroshkinAG"/>
    <!--Пароль локального пользователя-->
    <add key="USER_PASSWORD" value="111111"/>
    <add key="REPORT_SERVER_URL" value="http://127.0.0.1:80/ReportServer"/>
  </appSettings>
  
  <system.web>
    <!--
            Язык сайта выбирается автоматически, исходя из языка в браузере клиента   
        -->
    <globalization enableClientBasedCulture="true" uiCulture="auto:en" culture="auto:en-US"/>
    <trust level="Full"/>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
   
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>

  
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="\Pages\StartPage.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>